.navbar{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
.quemsomos{
     background-color: rgb(206, 71, 66);
}
.margin{
    padding-top: 30px;
}
.parceiros{
    background-color: blueviolet;
}
.bg-footer{ 
    background-color: black;
    color: aliceblue;
                   
 }   
